
.outerBg {
  background: linear-gradient(70deg, #7a00cc 60%, #ffed4b 60%);
  padding: 5rem;
}
.innerBg {
  background: linear-gradient(90deg, #9f54ff 45%, #ffe 45%);
  padding: 2rem 1rem 1rem 2rem ;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  width: 44%;
  margin-bottom: 5rem;
  color: #fff;
}
.progress {

  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.leftBar{
  width: 30%;
}
.mainContent {
  width: 70%;
}
