.loader {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  border: .20rem solid;
  border-right: .20rem solid transparent;
  border-radius: 50%;
  animation: loader-animation .5s linear infinite;
}

@keyframes loader-animation {
  to {
    transform: rotate(1turn);
  }
}
