.userInfo {
  color: #fff;
}

.userIcon {
  display: flex;
}

.userImg {
  border-radius: 50%;
  margin-right: 0.5rem;
  align-self: center;
}

.heading{
  font-size: 1.8rem;
}

.subHeading {
margin-bottom: 0.25rem;
}
